---
services:
  - class: org.jlab.clas12.ec.services.ECReconstruction
    name: ECReconstruction
  - class: pcal.reconstruction.services.PCALReconstructionService
    name: PCALReconstructionService
  - class: org.jlab.clas12.ctof.services.CTOFReconstruction
    name: CTOFReconstruction
  - class: org.jlab.clas12.ftof.services.FTOFReconstruction
    name: FTOFReconstruction
  - class: trac.services.centraltracker.BSTTrackCandFinder
    name: BSTTrackCandFinder
  - class: trac.services.centraltracker.BSTKalmanFilterSvc
    name: BSTKalmanFilterSvc
  - class: trac.services.forwardtracking.DCTrackCandFinder
    name: DCTrackCandFinder
